.yellow-text{color: #ffbf00}
.text-grey{color: #7a7a7a}
.light-grey{color: #e7e7e7b8;}
.text-white{color:#ffffff}
.text-black{color: #111111}
.small-text{font-size:1rem}
.middle-text{font-size:1.25rem}
.big-text{font-size:3.5rem}
.middle-bold{font-weight: 800}
.light{font-family: 'Gilroy-Light',sans-serif!important;}
.extra-bold{font-family: 'Gilroy-ExtraBold',sans-serif!important;}
.midle{font-family: 'Gilroy-Regular',sans-serif!important;}